.remove-image {
    margin-top: 2%;
}

.remove-image a {
    text-decoration: none;
    color: red;
    background-color: lightgray;
    padding: 1%;
    border-radius: 7%;
}

.remove-image a:hover {
    color: black;
}

.img-thumbnail {
    width: 70px;
    height: 70px;
}

.messages {
    overflow: auto;
    height: 25vw;
}

#add-button, .cross-button {
    padding-top: 2%;
    border-radius: 20%;
    color: white;
}
